#
# Enables SSH over AWS Session manager to easily connect to EC2 instances using
# the instance ID of the instance. No IP address is necessary.
# 
# Usage: ssh -i <ec2keypair.pem> ec2-user@i-0b89fcf0a6eexxxx
# 
# Source: https://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-getting-started-enable-ssh-connections.html
#

host i-* mi-*
    ProxyCommand sh -c "aws ssm start-session --target %h --document-name AWS-StartSSHSession --parameters 'portNumber=%p'"

